.grid-container
{
	display:grid;
	grid-template-columns:auto auto  auto auto  auto  auto;
	
}
.grid-item-header
{
	grid-column:1/7;
	background-color:#f75c57;
	color:#240211;
	height:60px;
	text-align:center;
	padding-top:15px;
	font-family:tahoma;
	font-size:14pt;
}
.footer
{
	background-color:#97ba63;
	height:60px;
	grid-column:1/7;
	text-align:center;
}
#left
{
	grid-column:1/5;
	background-color:#b3b51f;
	height:400px;
	text-align:center;
}
#right
{
	background-color:#d5d689;
	height:400px;
	grid-column:5/7;
	text-align:center;
}
img
{
	width:300px;
	heigt:300px;
	margin-top: 40px;
}
img:hover
{
	opacity:1;
	width:500px;
	height:300px;
	transform: rotatez(180deg);
	transition: transform 5s;
	transition-delay:1s;
}